body
{
	margin:0;
	padding:0;
	font family:sans-serif;
	background-image:url(xyzimage.png);
	background-size:cover;
	background-position:center;
}
.sign-up-form h1
{
	color:#1c8adb;
	margin-bottom:30px;
}
.sign-up-form
{
	width:300px;
	box-shadow:0 0 3px o rgba(0,0,0,0.3);
	background: #fff;
	padding:20px;
	margin:8% auto 0;
	text-align:center;
}
.container
{
	top:50%;
	left:50%;
	transform:translate(-50%,50%);
	position:absolute;
}
.upload-box{
	font-size:16px;
	background:white;
	border-radius:50px;
	box-shadow:5px 5px 10px black;
	width:350px;
	outline:none;
}
::-webkit-file-upload-button
{
	color:white;
	background:#206a5d;
	padding:20px;
	border:none;
	border-radis:50px;
	box-shadow:1px 0 1px #6b4559;
	outline:none;
}
::-webkit-file-upload-button:hover
{
	background:#438a5e;
}